// Place all the styles related to the padas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.meaning-section {
	.panel {
	  .panel-body {
	    p {
	        line-height: 2.5;
	    }
	  }
	}

	.word-meaning {
		font-size: 20px;
	}

	.word-description {
		font-size: 13px;
	}

	.main-meaning-section {
		padding: 10px
	}

	ul {
		list-style: none;
		padding: 5px;
	}
}
